button {
    outline: none;
    border: none;
    border-radius: 15px;
    color: black;
    padding: 0.5rem 2rem;
    cursor: pointer;
}

.delete {
    background-color: rgb(238, 109, 109);
}

.cross {
    background-color: rgb(243, 243, 145);
}

.add {
    background-color: rgb(110, 110, 255);
}
